[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boto = "==2.48.0"
boto3 = "==1.4.8"
botocore = "==1.8.7"
bz2file = "==0.98"
certifi = "==2017.11.5"
chainer = "==2.1.0"
chardet = "==3.0.4"
click = "==6.7"
docutils = "==0.14"
filelock = "==2.0.12"
future = "==0.16.0"
gensim = "==3.1.0"
gunicorn = "==19.7.1"
idna = "==2.6"
itsdangerous = "==0.24"
jmespath = "==0.9.3"
mock = "==2.0.0"
nose = "==1.3.7"
pbr = "==3.1.1"
protobuf = "==3.4.0"
python-dateutil = "==2.6.1"
requests = "==2.18.4"
s3transfer = "==0.1.12"
six = "==1.11.0"
smart-open = "==1.5.4"
urllib3 = "==1.22"
Cython = "==0.27.3"
Flask = "==0.12.2"
Jinja2 = "==2.10"
MarkupSafe = "==1.0"
Werkzeug = "==0.13"
WTForms = "==2.1"
numpy = "*"
scipy = "*"

[requires]
python_version = "3.7"
